* {
   /* background-color: rgb(255, 245, 159); */
   text-align: center;
   /* border: solid; */
   /* width: 80%;
   margin: auto; */
}
body {
   background-color: rgb(255, 245, 159);
}

h1, h2, h3 {
   text-align: center;
   font-weight: 900;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 300px;
   max-height: 300px;
   border-radius: 20px;
}

button {
   padding: 0.6rem;
   margin: 1rem;
   background-color: goldenrod;
   font-size: 1.5rem;
   color: black;
}

p {
   font-size: larger;
}

a {
   font-weight: bolder;
   text-decoration: none;
}

ol, ul {
   padding-left: 2rem;
   padding-right: 1rem;
   background-color: transparent;
}

li {
   text-align: left;
   background-color: transparent;
}


.list {
   max-width: fit-content;
   display: block;
   margin: auto;
   border-style: double;
   background-color: rgb(223, 219, 226);
}

.sobrescreve {
   font-size: 2rem;
   text-shadow: 5px 5px rgb(197, 190, 180);

   background-color: rgb(253, 203, 203);
   width:fit-content;
   margin: auto;
   padding: 10px;
   margin-top: -1.5rem;
}